.new-task-container {
  padding: 0 8px;
  .new-task {
    border-radius: 3px;
    width: 100%;
    resize: none;
    min-height: 66px !important;
    overflow: hidden;
    outline: none;
    border: none;
    box-shadow: 0 1px 0 #091e4240;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
      sans-serif;
  }

  .buttons-container {
    display: flex;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  button {
    border: none;
    cursor: pointer;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 3px;
    color: white;
    height: 32px;
  }

  .add-card-btn {
    background-color: #0179bf;
  }
}
.board-group-container {
  max-height: 98%;
  display: flex;
  // justify-content: center;

  .icon-base {
    width: 16px;
    height: 16px;
    fill: #6b778c;
  }
  .board-group {
    max-height: 100%;
    width: rem(272px);
    margin: 0 4px;
    background-color: $group1;
    border-radius: 3px;
    width: rem(272px);

    .add-task-btn {
      display: flex;
      margin: auto;
      align-items: center;
      background-color: transparent;
      border: none;
      color: $boardAddClr;
      font-size: rem(14px);
      height: rem(38px);
      width: 94%;
      // width: rem(272px);
      &:first-child {
        margin-bottom: 5px;
        // background-color: aqua;

        & > * {
          margin-right: 10px;
          //  align-self: center;
        }
      }

      &:hover {
        background-color: #091e4214;
        color: #172b4d;
        border-radius: 3px;
      }
    }
  }

  .group-title {
    display: flex;
    height: rem(40px);
    line-height: rem(40px);
    // width: rem(40px) ;
    // padding: 10px 8px;
    button {
      margin-right: 8px;
      // padding: 10px 10px 10px 10px;
      //  background-color: #0179bf;
      align-self: center;
      .icon-base svg {
        //  line-height: 18px;
        width: 18px;
        height: 18px;
        padding: 3px;
        //  stroke: $menuTitleClr;
      }
      // width: 20px;
    }
    .title-container {
      flex-grow: 1;

      input {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 8px;
        padding: 4px 11px;
        font-size: rem(14px);
        width: 225px;
        background-color: transparent;
        border-color: transparent;
        font-weight: 600;
        // background-color: #172b4d;
        // font-size: rem(20px);
        color: $menuTitleClr;
      }
      input.isEditing {
        background-color: $clr3;
        border-color: $clr6;
      }
    }
    button {
      height: 28px;
      border: none;
      border-radius: 3px;
    }

    button:hover {
      background-color: $group2;
    }
  }
}

.group-edit-modal {
  color: $boardAddClr;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: rem(280px);
  // height: rem(550px);
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px #091e4240;
  padding: 0 12px 12px;
  hr {
    border-top: solid 1px $menuBorderClr;
  }
  .modal-content {
    font-size: rem(14px);
    h3 {
      font-size: rem(12px);
      font-weight: 600;
    }
    & > *:first-child {
      margin-top: rem(12px);
    }
    & > * {
      margin-bottom: rem(12px);
    }
    div > *:not(:last-child) {
      // background-color: aqua;
      margin-bottom: rem(17px);
    }
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
    .icon-base svg {
      width: 16px;
    }
    h1 {
      height: rem(41px);
      margin: auto;
      line-height: rem(41px);
    }
  }
}
.task-container {
  // background-color: aqua;
  max-height: 85%;
  overflow-x: hidden;
  // margin-bottom:20px;
  ul {
    // margin-bottom: 300px;
    margin: 0 4px;
    padding: 0 4px;

    li {
      position: relative;
      background-color: $clr3;
      border-radius: 3px;
      box-shadow: 0 1px 0 $group3;
      cursor: pointer;
      margin-bottom: 8px;
      list-style: none;
      padding-top: 2px;
      padding-right: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      height: 100%;

      &:hover {
        background-color: $taskHoverClr;
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        border-radius: 3px;
        align-self: start;
      }

      button:hover {
        background-color: $taskHoverBtnClr;
      }
      .icon-base {
        height: 14px;
        width: 14px;
      }
    }
  }
}
