.board-header {
  background-color: $clr1;
  height: rem(55px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $clr3;

  // .starred:hover {
  //   fill: $starred !important;
  //   // stroke: $starred !important;
  // }

  .board-details {
    display: flex;
    justify-content: space-between;
    // flex-grow: 0.1;
    align-items: center;

    button {
      border-radius: em(3px);
      height: rem(32px);
      @include btn(
        $type: light,
        $padding: (
          0 em(12px),
        ),
        $line-height: (
          lh(32px, 18px),
        ),
        $size: (
          em(14px),
        )
      );
      font-weight: 700;
    }

    .name-btn {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .board-name-and-star {
      display: flex;
      align-items: center;
      margin-left: 1.5rem;
      padding: 0;
      gap: 0.5rem;
      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-self: center;
        border-radius: em(3px);
        @include btn(
          $type: light,
          $padding: (
            0 em(12px),
          ),
          $line-height: (
            lh(32px, 18px),
          ),
          $size: (
            rem(18px),
          )
        );
        font-weight: 700;
      }

      input {
        // max-width: calc(100% - em(24px));
        // width: 70%;
        font-size: rem(18px);
        font-weight: 700;
        height: rem(32px);
        border: 0;
        padding: 0 em(12px);
        border-radius: em(3px);
        text-align: center;

        &:focus-visible {
          padding: 0;
          color: $clr6;
          outline: none;
          box-shadow: 0 0 3px 2px $outline;
        }
      }
    }
  }

  .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-inline-end: rem(8px);
    button {
        border-radius: em(3px);
        height: rem(32px);
        @include btn(
          $type: light,
          $padding: (
            0 em(12px),
          ),
          $size: (
            em(14px),
          )
          );
          font-weight: 700;
          justify-content: space-between;

        span{
            color: $clr3;
        }
        img{
            margin-inline-end: rem(8px);
        }
      }
  }
}
