.board-menu-modal {
  width: rem(340px);
  height: 100%;
  color: $menuTxtClr;
  font-size: rem(14px);
  background-color: $menuBcgClr;
  padding: 12px 6px 12px 12px;
  position: fixed;
  right: 0%;
  z-index: 1;
  border: 1px solid $menuBorderClr;
  box-shadow: -9px 0px 12px -3px rgba(0, 0, 0, 0.09);
  overflow-y: scroll;

  .board-menu-costumize {
    position: relative;
    display: flex;
    align-items: center;

    &:not(.board-menu-costumize, .menu-text):hover,
    li:hover {
      background-color: $menuHoverClr;
      border-radius: 3px;
      color: $menuTitleClr;
      fill: $menuTitleClr;
    }
  }

  .menu-text {
    margin-left: rem(20px);
    position: relative;

    header {
      display: block;
      padding: 6px 6px 6px 40px;
      position: relative;
    }
  }
.board-menu-costumize{
  img{
    height: 20px;
    width: 20px;
    border-radius: 3px;
  }
}
  .icon-base {
    position: absolute;
    right: 6px;
    top: 8px;
    // display: inline-block;
    width: rem(20px);
    height: rem(20px);
    fill: $menuTxtClr;
  }
  h3 {
    display: inline;
    font-weight: 500;
  }
  ul {
    list-style-type: none;
    padding: 0px;
    li,
    .about-board {
      display: flex;
      margin: 0 0 rem(10px) 0;
    }
  }
  .menu-title {
    position: sticky;
    padding: 1rem;
    height: rem(48px);
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // width: inherit;
    h1 {
      // margin: auto;
      font-size: 1rem;
      font-weight: 500;

      flex: 1;
      line-height: 20px;
      margin: 14px 32px;
      text-align: center;
    }
    .x-btn:hover {
      stroke: $menuTitleClr;
    }
  }

  hr {
    border-top: solid 1px $menuBorderClr;
  }
}
