.delete-modal {
  .delete-confirmation-modal {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    position: absolute;
    // right: 108px;
    // top: 25px;
    width: 304px;
    z-index: 70;

    .delete-header {
      height: 40px;
      border-bottom: 1px solid #091e4221;
      color: #5e6c84;
      line-height: 40px;
      margin: 0 12px 8px;
      padding: 0 32px;
      position: relative;
      text-align: center;

      .icon-base {
        display: inline;
        background-color: inherit;
        padding: 10px 12px 10px 8px;
        position: absolute;
        right: -275px;
        top: -12px;
        left: 0;
        z-index: 10;

        svg:hover {
          cursor: pointer;
          color: #172b4d;
        }
      }
    }

    div:last-of-type {
      padding: 0 12px 12px;

      p {
        margin: 0 0 8px;
      }

      button {
        width: 100%;
        background-color: #b04632;
        border: none;
        color: #fff;
        border-radius: 3px;

        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 6px 12px;
        margin: 8px 4px 0 0;
        text-align: center;

        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
        white-space: normal;

        &:hover {
          background-color: #933b27;
        }

        &:active {
          background-color: #6e2f1a;
        }
      }
    }
  }
}
