.login-cmp {
  margin: 0 auto;
  width: 400px;
  height: 640px;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    h1 {
      font-size: 3rem;
      font-family: ubuntu-reg;
    }

    .logo {
      letter-spacing: 1px;
      margin: 0 auto;
      letter-spacing: 1px;
      font-weight: bold;
      font-family: ubuntu-reg;
      height: 43px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .logo-img {
      background-image: url('./src/assets/imgs/trello.png');
      background-size: 64px 64px;
      height: 64px;
      width: 64px;
      margin-right: 4px;
    }
  }
  .login-container {
    background-color: #ffffff;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    margin: 0 auto;

    h2 {
      text-align: center;
      color: #5e6c84;
      font-size: 16px;
      letter-spacing: -0.01em;
      line-height: 28px;
      margin-top: 10px;
      margin-bottom: 25px;
      margin: 0.67em 0;
      font-weight: bold;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      border-radius: 3px;
      height: 44px;
      font-size: 14px;
      background-color: #fafbfc;
      border: 2px solid #dfe1e6;
      margin: 0 0 1.2em;
    }
    .submit-btn {
      background: #5aac44;
      color: #fff;
      border-radius: 0.3em;
      border: 0px;
      cursor: pointer;
      font-weight: bold;
      box-shadow: none;
      padding: 0.6em 1.3em;

      &:hover {
        background: #61bd4f;
      }
    }
  }
  .separator {
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 1.44em;
    text-align: center;
  }
}
