.main-header {
    background-color: $clr1;
    nav {
        height: rem(45px);
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .buttons {
        display: flex;
        cursor: pointer;
        margin-left: 1rem;
        gap: 0.5rem;
    }
    button {
        cursor: pointer;
        display: inline-flex;
        background-color: transparent;
        border: none;
        color: $clr3;
        align-items: center;
        border-radius: 3px;
    }

    .create-btn {
        background-color: rgba($color: $clr3, $alpha: 0.4)
    }

    button:hover {
        background-color: rgba($color: $clr3, $alpha: 0.4)
    }

    span {
        font-size: 1.6rem;
        font-family: ubuntu-bold;
    }

    .information {
        display: flex;
        cursor: pointer;
        margin-right: 1rem;
        gap: 0.5rem;

        .bell-btn {
            background-color: $clr4;

            img {
                width: 20px;
            }
        }
    }
    .search-input {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: transparent;
        background-color: rgba($color: $clr3, $alpha: 0.4);
        border-radius: 3px;

        input {
            background-color: transparent;
            border: none;
            width: rem(250px);
            padding-left: rem(35px);
            outline: none;

        }
        img {
            position: absolute;
        }
        input::placeholder {
            color: $clr3;
        } 
        
        input:focus {
            border: none;
            color: $clr6;
        }
    }

}