@keyframes expand {
  0% {
    max-width: 40px;
  }
  50% {
    max-width: 198px;
    min-width: 60px;
    max-height: 8px;
  }
  100% {
    max-width: 198px;
    min-width: 60px;
    max-height: 16px;
  }
}

@keyframes shrink {
  0% {
    max-width: 198px;
    min-width: 60px;
    max-height: 16px;
  }
  50% {
    max-height: 8px;
  }
  100% {
    max-width: 40px;
    max-height: 8px;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.task-preview {
  padding: 6px 8px 2px;
  width: 100%;
  textarea {
    // padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    overflow: hidden;
  }

  &:hover {
    .edit-btn {
      display: block;
    }
  }
  .edit-btn {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
  }

  .task-extras {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .member-list {
      justify-self: end;
      right: 100%;
      img {
        width: rem(28px);
        border-radius: 50%;
        margin-left: 7px;
      }
    }
  }

  .due-date,
  .number-of-attachments {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    // padding: 0.25rem;
    font-size: 12px;
    gap: 2px;
    color: #5e6c84;
    // line-height: 20px;
    // font-weight: 600;
    // margin: 0 8px 4px 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
      sans-serif;
    border-radius: 3px;
    &:hover {
      background-color: darken(#f4f5f7, 5%);
    }
    .icon-base {
      width: auto;
      height: auto;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .number-of-attachments {
    margin-left: 0.75rem;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .task-labels {
    .task-label {
      float: left;
      padding: 0 8px;
      border-radius: 4px;
      margin-right: 0.5rem;
      color: white;
      font-weight: bold;
      min-width: 40px;
      max-width: 40px;
      min-height: 8px;
      max-height: 8px;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      line-height: 16px;
      display: flex;
      justify-content: center;
      margin-bottom: 4px;

      &.expand {
        animation-name: expand;
      }

      &.shrink {
        animation-name: shrink;
      }

      span {
        font-size: 12px;
        animation-duration: 0.15s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        opacity: 0;

        &.show {
          animation-name: show;
        }

        &.hide {
          animation-name: hide;
        }
      }
    }
  }
  textarea.isEditing {
    // background-color: $clr3;
    border-color: $clr6;
  }
}
.task-prev-clr {
  display: flex;
  min-height: 56px;
  border-radius: 3px;
  textarea {
    align-self: flex-end;
    color: white;
    font-weight: 500;
    font-size: 16px;
    // height: 30px;
    text-shadow: -1px 2px 7px rgba(0, 0, 0, 0.25);
    // line-height: 39px;
    padding-top: 10px;
  }
}
.task-prev-bcg {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // background-size: auto 100%;
  // background-repeat: no-repeat;
  // background-position: center;
  display: flex;
  border-radius: 3px;

  textarea {
    align-self: flex-end;
    color: white;
    font-weight: 500;
    font-size: 16px;
    height: 30px;
    text-shadow: -1px 2px 7px rgba(0, 0, 0, 0.43);
    margin-bottom: 8px;
  }
}
