.task-details {
    display: flex;
    border: 1px solid black;
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: white;
    
    
    .dynamic-details{
  border-radius: 5px;

        position: fixed;
        left:80%;
        top:10%;
    }
}
