.task-details {
    display: flex;
    border: 1px solid black;
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: gray;
    transform: translate(-50%, -50%);
}