.task-preview {
    width: 100%;
    textarea {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        background-color: transparent;
        border-color: transparent;
        overflow: hidden;
        
    }

    textarea.isEditing {
        // background-color: $clr3;
        border-color: $clr6;
    }
}