.welcome-page {
  background-image: linear-gradient($welcomeBCG, white);
  .welcome-img {
    width: 445px;
  }
  .welcome-body {
    display: flex;

    h1 {
      font-family: ubuntu-med;
      font-size: rem(48px);
      font-weight: lighter;
    }
    p {
      font-size: rem(20px);
    }
  }
}
