.activity-cmp {
  margin-left: 40px;
  min-height: 32px;
  padding: 8px 0;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 8px 40px;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
  line-height: 20px;

  .total-container {
    display: flex;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: -40px;
    top: 5px;
    height: 32px;
    width: 32px;
  }

  .member-name {
    font-weight: 700;
  }

  .action {
    padding-left: 0.25rem;
  }

  .time {
    color: #5e6c84;
    font-size: 12px;
  }
}
