.cover-cmp {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 0 12px 12px;
  width: 308px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  .color-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    gap: 8px;
    .color-boxes {
      width: 50px;
      height: 30px;
      border-radius: 3px;
      //   margin: 10px;
    }
  }
  .img-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 4px;
    .img-boxes img {
      border-radius: 3px;
      width: 88px;
      height:48px ;
    }
  }
  .cover-container {
    display: flex;
    justify-content: center;
    .cover-prev {
      width: 136px;
      height: 64px;
      margin: 8px;
      background-color: $coverEmptyClr;
      border-radius: 3px;
      background-size: contain;
      background-size: cover;
      background-position-x: center;
      background-position-y: center;
      //   background-size: 100% 100%;
    }
  }
}
