* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: normal;
}

html,
body,
#app {
  height: 100%;
}

.icon-base {
  margin: 0px;
}
.no-move {
  transition: transform 0s;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  margin: 20px;
  background-color: rgba($color: #000000, $alpha: 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  border-radius: 20px;
}

textarea {
  resize: none;
}

.card-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(3deg);
  background-color: #000000;
}
.card-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg);
}

.drop-preview {
  // background-color: rgba(0, 0, 0, 0.402);
  // height: 100%;
  // margin: 1rem 2rem 1rem 0.3rem;
}
