@font-face {
  font-family: ubuntu-bold;
  src: url('assets/fonts/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: ubuntu-med;
  src: url('assets/fonts/Ubuntu/Ubuntu-Medium.ttf');
}
@font-face {
  font-family: ubuntu-reg;
  src: url('assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
}
