// MAIN-HEADER-PALETTE
$clr1: #161f2a;
$clr2: #ffffff33;
$clr3: #ffffff;
$clr4: #eb5a46;
$clr5: #026aa7;
$clr6: #000000;

//MAIN BOARD

//BOARD GROUP
$boardAddClr: #5e6c84;

//WELCOME PAGE COLORS
$welcomeBCG: #eae6ff;
$welcomeBtnClr: #0063fa;
$welcomeTxtClr: #091e42;
$welcomeLogo: #293856;

//BOARD-HEADER
$outline: #1a7bc8;
$starred: #f2d600;

//GROUP
$group1: #ebecf0;
$group2: #dadbe2;
$group3: #091e4240;
$groupMoreClr: #6b778c;

//TASK-DETAILS
$taskHoverClr: #f4f5f7;
$taskHoverBtnClr: #ebecf0;
$taskD1: #42526e;

// LABELS&COVER_PALETTE
$labe0: #61bd4f;
$labe1: #f2d600;
$labe2: #ff9f1a;
$labe3: #eb5a46;
$labe4: #c377e0;
$labe5: #0079bf;
$labe6: #00c2e0;
$labe7: #51e898;
$labe8: #ff78cb;
$labe9: #344563;
$labe10: #b3bac5;

//BOARD_MENU
$menuBcgClr: #f4f5f7;
$menuTxtClr: #42526e;
$menuTitleClr: #172b4d;
$menuBorderClr: #d5d9e0;
$menuHoverClr: #e2e4e9;

//LABEL CMP
$labelEditClr: rgb(9, 30, 66);

//COVER CMP
$coverEmptyClr: #cfd3da;
$coverBtnClr: #f5f6f8;
$coverBtnHoverClr: #ecedf0;

//BOARD ADD
$boardAddIconClr: #bfc4cc;
$addBtnClr: #abb2be;

$mBorderClr: #091e4221;
$mBtnClr: #f6f6f7;
$mBtnHover: #091e4214;

// LAYOUT BREAKPOINTS
$break-narrow: 520px;
// $break-normal: 620px;
$break-wide: 865px;
